*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #BDC3C7, #2C3E50) ;
  font-family: 'Orbitron', sans-serif;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.spantwo {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.prevOutput {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.currentOutput {
  color: white;
  font-size: 2.5rem;
}